@font-face {
  font-family: "Julietta-Messie-Demo";
  src: url("./../../../assets/fonts/Julietta-Messie-Demo.ttf.woff")
      format("woff"),
    url("./../../../assets/fonts/Julietta-Messie-Demo.ttf.svg#Julietta-Messie-Demo")
      format("svg"),
    url("./../../../assets/fonts/Julietta-Messie-Demo.ttf.eot"),
    url("./../../../assets/fonts/Julietta-Messie-Demo.ttf.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800|Open+Sans|Roboto:400,700,900&display=swap");
