@import "./../../assets/scss/1-helpers/variables";

.btn-contact {
  margin-top: 20px;
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  background-color: #093145;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 5px;

  &:hover {
    background-color: #3c6478;
  }
}

.btn-contact {
  display: block;
  width: 100%;
}

.form__item {
  display: flex;
  flex-direction: column;

  > * {
    align-self: flex-start;
    padding: 10px 0;
  }

  .form__label {
    font-weight: 600;
    margin: 0;
  }

  .form__input {
    -webkit-appearance: none;
    width: 100%;
    max-width: 425px;

    /* Fix for Safari/iOs date fields */
    min-height: calc(0.9em + (0.8em * 2) + 0.6em);

    padding: 0.8em;
    font-size: 0.9rem;

    outline: none;
    border: 1px solid $pearl;
    border-radius: 4px;
    background: $lightgrey;
    transition: background 0.25s, border-color 0.25s, color 0.25s;

    &:focus {
      background: #fff;
    }

    &::placeholder {
      color: $gray;
    }

    &.form__area {
      min-height: 250px;
    }
  }

  .form__input--error {
    color: $darkestruby;
    background: #fff;
    border-color: $darkestruby;

    &::placeholder {
      color: $ruby;
    }
  }

  .form__error {
    padding-top: 10px;
    color: $ruby;
    font-size: 0.85rem;
  }

  .form__btn {
    font-weight: 600;
    font-size: 1.1rem;
    padding: 10px 16px;
    margin: 10px 0;

    color: #fff;
    background: #14b64a;
    border: 2px solid #0fa942;
    border-radius: 5px;

    cursor: pointer;
    outline: none;

    &:hover {
      background: #0fa942;
    }
  }
}
