@import "./../../assets/scss/1-helpers/variables";

h2.heading {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}

.payment-container {
  label {
    display: block;
    padding: 1rem 0 0.25rem;
    font-size: 16;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea,
  button,
  select {
    display: block;
    width: 100%;
    padding: 10px;
  }

  .form-group {
    padding-top: 40px;
  }
}
