/*====================== Landing Section ======================*/
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.home-inner {
  background-image: url("./blackpool_tower_darker_resize.png");
  position: fixed;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

header {
  background-image: url("./blackpool_tower_darker_resize.png");
  width: 100%;
  background-size: cover;

  .header-text {
    display: flex;
    padding: 15% 0;

    .header-text-items {
      color: #fff;
      margin: auto;
      text-align: center;
      width: 90%;

      h1 {
        font-weight: 900;
        font-size: 3em;
        text-transform: uppercase;
        margin-bottom: 20px;
      }

      h3 {
        margin-bottom: 40px;
        font-size: 2.5em;
      }

      p {
        font-size: 1.4em;
      }

      .button {
        width: auto;
        margin: auto;
        display: flex;
        flex-shrink: 1;

        a {
          font-size: 1.5rem;
          font-weight: 600;
          padding: 7.5px 30px;
          background: #278ea5;
          border: 1px #278ea5 solid;
          border-radius: 5px;

          &:hover {
            text-decoration: none;
            transition: all 0.25s;
            color: #fff;
            background: #1f4287;
            border: 1px #1f4287 solid;
          }
        }
      }
    }
  }
}

.mission {
  padding: 15% 0;
  text-align: center;
  h2 {
    font-size: 2rem;
  }
}

.stories-container {
  grid-column: span 3;
  color: white;
  height: 90vh;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.story {
  flex-basis: 50%;
  display: flex;
  position: relative;
  background-position: 50%;
  background-position-x: 50%;
  background-position-y: center;
  background-size: cover;

  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    padding: 100px 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(black, 0.6);
  }

  .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    padding: 2em;
    z-index: 2;

    h4 {
      text-align: center;
    }
    p {
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: -0.1px;
      text-align: center;
    }
    span {
      display: flex;
      justify-content: center;
    }
  }
  .button-left-bottom {
    position: absolute;
    right: 1em;
    bottom: 1em;
    max-width: 130px;
  }

  h2 {
    font-size: 3rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.93;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    width: 90%;
  }
  h4 {
    color: #ffc107;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 767px) {
  /* Landing Section - Caption */
  .caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 30%;
    z-index: 1;

    h1 {
      font-size: 4.5rem;
      letter-spacing: 0.3rem;
      text-shadow: 0.1rem 0.1rem 0.8rem black;
      padding-bottom: 1rem;
    }
    h3 {
      font-size: 2.5rem;
      text-shadow: 0.1rem 0.1rem 0.8rem black;
      padding-bottom: 2rem;
    }
    .btn-lg {
      border-width: medium;
      padding: 0.8rem 1.5rem;
      font-size: 1.1rem;
    }
  }

  header {
    .header-text {
      .header-text-items {
        .button {
          width: 30%;
        }
      }
    }
  }

  .stories-container {
    flex-direction: row;
    height: 60vh;
  }
  story {
    h1 {
      color: #ffc107;
      font-size: 1.8rem;
    }
    h2 {
      color: white;
      font-weight: 600;
      font-size: 2.5rem;
    }
  }
  .story {
    .content {
      h4 {
        font-size: 1.8 rem;
      }
      p {
        font-size: 26px;
      }
    }
  }
}

/* card */

.band {
  .card {
    min-height: 100%;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #444;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;

    &:hover {
      top: -2px;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    }

    article {
      padding: 20px;
      display: flex;
      flex: 1;
      justify-content: space-between;
      flex-direction: column;
    }

    .thumb {
      padding-bottom: 60%;
      background-size: cover;
      background-position: center center;
    }

    p {
      flex: 1;

      /* make p grow to fill available space*/
      line-height: 1.4;
    }

    span {
      font-size: 12px;
      font-weight: bold;
      color: #999;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      margin: 2em 0 0 0;
    }

    h1 {
      font-size: 20px;
      margin: 0;
      color: #333;
    }
  }
}
