a:hover {
  text-decoration: none;
}

.btn-group-donation-type li,
.donation-form-amount {
  justify-content: center;
  padding: 0;
  margin: 0;
  display: flex;
}
/**
 * The container and the item are both
 * into flex layout. To align items
 * to each other.
 */
.btn-group-donation-type,
.btn-group-donation-type li,
.btn-group-donate-buttons,
.btn-group-donate-buttons li {
  display: flex;
  padding: 0;
  margin: 0;
}
/**
 * Force to occupy the space available
 * and allow item being on several lines
 */
.btn-group-donation-type,
.btn-group-donate-buttons {
  width: 100%;
  list-style: none;
  flex-wrap: wrap;
}
/**
 * Items tend to occupy 25% of
 * the available width but are
 * allow to grow.
 */
.btn-group-donation-type li,
.btn-group-donate-buttons li {
  flex-basis: 25%;
  flex-shrink: 0;
  flex-grow: 1;
}
.btn-group-donate-buttons li {
  cursor: pointer;
}
/**
 * The anchor is also in Flex
 * to align icon and text and
 * center their content.
 */
.btn-group-donation-type span,
.btn-group-donate-buttons span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 25px;
  padding: 1em 0.5em;
  font-weight: 700;
  text-decoration: none;
  margin: 5px 5px;
}

.giftaid {
  margin: 3rem 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  h2 {
    padding: 2rem 0;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
  }

  .checkbox-container {
    font-size: 2rem;
  }

  input {
    display: none;
  }
}

.declaration {
  text-align: center;
}

.customdonation-amount {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  label {
    text-align: center;

    span {
      padding-bottom: 20px;
    }

    input {
      margin-left: 10px;
      width: 50%;

      &::placeholder {
        text-align: center;
      }
    }
  }
}
